spring:
  application:
    name: hr-bank

  backup:
    schedule:
      time: "0 0 * * * *"   # 매 정각

  task:
  scheduling:
    pool:
      size: 2

  datasource:
    url: jdbc:postgresql://localhost:5432/hr_bank
    username: team01_username
    password: team01_password

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true


  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      encoding: UTF-8

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
  default-consumes-media-type: application/json
  default-produces-media-type: application/json


